:root {
    font-size: calc(0.5vw + 7px);
    font-family: "Roboto Light", sans-serif;
    --main-pink-color: #c2adcc;
    --gray-color: #6a6a6a;
    --deactivated-main-pink-color: #9988a3;
    --secondary-pink-color: #fed0d0;
}
@font-face {
    font-family: TT-Supermolot-Neue;
    src: url(../fonts/TTSupermolotNeue-CondXLight.ttf);
}
@font-face {
    font-family: Brusher;
    src: url(../fonts/Brusher.ttf);
}
.easy-label{
    font-family: TT-Supermolot-Neue, serif;
}
.sale-item-headers{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
body{
    background-color: #f8f7f7;
}
.violet-underline{
box-shadow: 0 0.5em var(--main-pink-color), inset 0 -0.5em var(--main-pink-color);
    background-color: transparent;
}
.pink-underline{
    box-shadow: 0 0.5em var(--secondary-pink-color), inset 0 -0.5em var(--secondary-pink-color);
    background-color: transparent;
}
.hot-sale-pink-icon{
    margin-top: -1em;
}
.carousel-headers {
    font-size: 6em;
    font-family: Brusher, serif;
}
.nav-item a{
    color: var(--gray-color);
}
.sale-header{
    font-family: Brusher, serif;
}
a:hover {
    text-decoration-color: var(--main-pink-color);
    text-decoration-line: underline;
}
.nav-fluid-container{
    background-color: white;
}
.search-icon{
    height: 1em;
}
.gray-nav-sale-icon{
    height: 1.4em;
}
.text-pink{
    color: var(--main-pink-color);
}
.login-button{
    height: 2em;
    padding-top: 0.25em;
    margin-left: 1em;
    margin-top: -0.1em;
    background-color: var(--main-pink-color);
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    width: 4vw;
}
.big-scroll-img{
    margin-left: -4em;
    width: 100%;
}
.sale-element{
    height: 27em;
}
.sale-element-icon{
    height: 5em;
    width: 5em;
}
.secondary-background{
    background-color: rgba(106, 106, 106, 0.9);
}
.background-zara{
    background-image: url("../img/zara-image.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.background-stradivarius{
    background-image: url("../img/stradivarius-image.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.background-bershka{
    background-image: url("../img/bershka-image.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.zara-icon{
    background-image: url("../img/zara.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.stradivarius-icon{
    background-image: url("../img/stradivarius.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bershka-icon{
    background-image: url("../img/bershka.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.pink-background-image{
    background-image: url("../img/image-1024x1024.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30em;
}
.pink-block-header{
    font-family: Brusher, serif;
    font-size: 4em;
}
:hover.login-button{
    background-color: var(--deactivated-main-pink-color);
}
.phone-image{
    width: 100%;
    margin-top: -15px;
}
.easy-label-phone{
    font-family: TT-Supermolot-Neue, sans-serif;
}
.phone-font-several{
    font-size: 0.3em;
    margin: 0.3em;
}
.phone-screen button{
    font-size: 0.2em;
}
.phone-font-sale{
    font-size: 0.5em;
    margin: 0.3em;
}
.phone-screen{
    transform-origin: top right;
    transform: rotate(17deg);
    margin-left: 2.5vw;
}
.contacts-icons a{
    color: var(--gray-color);
}

@media (max-width: 768px) {
    .sale-element{
        background-image: none;
    }
}
@media (max-width: 1199px) {
    .pink-background-image{
        background-image: url("../img/pink-texture-back-1024x1024.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
    }
}
